.mobileController {
    position: absolute;
    display: flex;
    border-radius: 20px;
    z-index: 2;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 275px;
    height: 110px;
}

.spaceButton {
    margin: auto 20px;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    border: 2px solid;
    cursor: pointer;
}

.controllerButtons {
    position: relative;
    height: 100px;
    width: 100px;
    text-align: right;
}

.controllerButtons button:active {
    background: white;
}

.spaceButton:active {
    background: white;
}

.upButton {
    position: absolute;
    top: 0px;
    left: 35px;
    border: 2px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leftButton {
    position: absolute;
    top: 35px;
    left: 0px;
    border: 2px solid ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rightButton {
    position: absolute;
    top: 35px;
    left: 70px;
    border: 2px solid ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.downButton {
    position: absolute;
    top: 70px;
    left: 35px;
    border: 2px solid; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}