.chatButton {
    position: absolute;
    background: transparent;
    border: none;
    z-index: 3;
    top: 15px;
    right: 15px;
    margin: 0;
    cursor: pointer 
}

.themeButton {
    position: absolute;
    background: transparent;
    border: none;
    z-index: 3;
    top: 50px;
    left: 15px;
    margin: 0;
    cursor: pointer 
}

/*  ------------notifications-----------  */

.activeNotification {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
    top: 0px;
    right: 60px;
    padding: 0 5%;
    max-width: 80%;
    text-align: center;
    border: 2px solid; 
    border-radius: 30px;
    animation: notification 1s ease-out;
}

@keyframes notification {
    0% {
        right: -50px;
    }
    40% {
        right: 70px;
    }
    70% {
        right: 50px;
    }
    100% {
        right: 60px;
    }
}

/* ------- SETTINGS ------------------ */
.settingDialog {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    width: 90%;
    max-width: 400px;
    min-width: 350px;
    height: 300px;
    display: inline-block;
    border: 2px solid;
    border-radius: 30px;
}

.settingsButton {
    position: absolute;
    background: transparent;
    border: none;
    z-index: 3;
    top: 15px;
    left: 15px;
    margin: 0;
    cursor: pointer
}

.closeSettings {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 5px;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.audioSettings {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 5px;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.controllerSettings {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer; 
}

.navHomeButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: none;
    border-radius: 8px;
    padding: 10px 50px;
    cursor: pointer;
}

.navHomeButton span {
    position: relative;
    bottom: 2px;
}

.keyList {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    list-style-type: none; 
}

.movementButtons {
    position: relative;
    margin: 100px 50px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.movementButtons p {
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 3px;
    margin: 0;
}

.spaceKey {
    position: absolute;
    top: 58%;
    left: 41%;
    border: 1px solid;
    border-radius: 15px;
    padding: 0px 15px;
}

.upKey {
    left: 35px;
    top: 0px
}

.leftKey {
    left: 0px;
    top: 35px
}

.rightKey {
    left: 70px;
    top: 35px
}

.downKey {
    left: 35px;
    top: 70px
}


@keyframes slide-out {
    0% {
        left: -30px;
    }
    40% {
        left: 15px;
    }
    70% {
        left: 7px;
    }
    100% {
        left: 10px;
    }
}