.gameContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.grid_container {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #1b2124;
    margin: 30px auto;
    width: 200px;
    height: 400px;
}

.gridEl {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 0.2px solid;
}

.style_moving {
    background-color: red;
}

.style_v {
    border-color: #FF0000;
}

.style_9 {
    background-color: #A5F2F3;
}

.style_0 {
    background-color: transparent;
}

.style_1 {
    background-color: #f75990;
}

.style_2 {
    background-color: #72CB3B;
}

.style_3 {
    background-color: #FFD500;
}

.style_4 {
    background-color: #FF971C;
}

.style_5 {
    background-color: #beef00;
}

.style_6 {
    background-color: #DA70D6;
}

.style_7 {
    background-color: #CC99FF;
}

.adminBadge {
    position: absolute;
    top: 16px;
    left: -2px;
    width: 80px;
    height: 20px;
    border-radius: 8px;
    border: solid 0.5px;
    text-align: center;
    transform: rotate(-30deg);
    background-color: goldenrod;
}

/* -------side-Container---------------- */

.wrapContainer {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 350px;
}

.sideContainer {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 150px;
    height: 400px;
}

.pieceContainer {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.nextPiece {
    margin: auto;
    display: flex;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 0.2px solid; 
}

.infoContainer, .myInfoContainer {
	max-width: 100%;
    margin: 10px;
	text-align: left;
}

.myInfoContainer p {
    font-size: 0.7rem;
    margin-top: auto;
    letter-spacing: 0.1rem;
    padding-bottom: 2px;
    border-bottom: solid; 
}

.infoContainer p {
    font-size: 0.7rem;
    margin-top: auto;
    letter-spacing: 0.1rem;
    color: rgb(241, 94, 94);
    padding-bottom: 2px;
    border-bottom: solid;
}